# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env*
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
.coverage
*.cover
coverage.xml
htmlcov/

# Logs and database files
*.log
*.sqlite3
*.db

# Docker
*.pid
*.sock

# Temporary files
*.swp
*.swo
*.swn
*.bak
.DS_Store
Thumbs.db
